.hero-destination-page{
    
    height: 90dvh;
    width: 100dvw;
    position: relative;
  }
.flex-center{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.flex-center h1{
   text-align: center;
   font-size: 9rem;
   color: white;
   font-weight: 3px;
  }
  
  @media (max-width:700px)
  {
    .hero-destination-page {
      height: 44dvh;
      width: 100dvw;
    }
  }
  