/* Base styles for the menu */
.menu-destination-page {
  height: 44dvh; /* Use vh instead of dvh for consistency */
  width: 100dvw; /* Use vw instead of dvw for consistency */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 0rem;
}

.menu-destination-page li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center; /* Center the text inside the li */
  border-right: 0.2rem solid #ddd; /* Border between items */
  font-size: 1rem; /* Font size */
  color: var(--primary-color); /* Text color */
}


/* Additional styling for icons */
.menu-destination-page li i {
  margin-right: 0.5rem; /* Space between icon and text */
}

.menu-destination-page li.active {
  background-color: var(--primary-background-color);
  color: var(--active-color);
  border-right: none; /* Remove border on active item */
}


/* Media query for larger screens */
@media (min-width: 780px) {
  .menu-destination-page {
    width: var(--width-content); /* Use CSS variables for width */
    max-width: var(--max-width-content); /* Use CSS variables for max-width */
    height: 64px; /* Fixed height for larger screens */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }


  .menu-destination-page li:hover {
    cursor: pointer;
    color: var(--active-color); /* Change color on hover */
  }
  
  .menu-destination-page li:last-child {
    border-right: none; /* Remove border from the last item */
  }
  
}
