.hero-section {
    background-image: url('https://www.shutterstock.com/image-photo/panoramic-beautiful-deep-forest-waterfall-260nw-794958832.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Enables parallax effect */
   
    color: white;
    height: 55vh;   
}

.hero-section header h1 {
    width: 100%;
    text-align: left !important;
    font-size: 8rem ;
    margin-bottom:-0.8rem;
} 
.hero-section p{
    font-size: 1.3rem;
}