img{
    width: 100%;
}


.show-case{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    height: 100vh;
}
.show-case-item-container{
position: relative;
overflow: hidden;

    h2,h4{
        position: absolute;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        z-index: 3;
    }
    h2{
        top: 5%;
    }
    h4{
        top: 10%;
    }
    img{
        position: absolute;
        display: block;
    }
}