.contact-page{
    background-color: white;
}
.hero-section {
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: black;
}
.contact-hero {
    background-color: white;
}
.hero-section h1 {
    color: white;
    text-shadow: 0.5px 0.5px black ;
    font-size: 6rem; /* Adjust font size as needed */
    margin: 0;
}

.hero-section p {
    font-size: 1.2rem; /* Adjust font size as needed */
    margin-top: 10px;
    font-style: italic;
    color: white;
    opacity: 1;
}

/* Contact Section */
.contact-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
    padding: 4rem 20px;
    height: 90dvh;
    margin: 0 auto;
    gap: 2rem;
    text-align: right;
}

.contact-info {
    padding-right: 40px;
    display: grid;

}

.contact-info h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2rem;
    margin: 5px 0;
    font-style: italic;
}

/* SocialMediaIcons.css */

.contact-info .media-icons {
    width: 132px;
    height: 28px;
    justify-self: end;
    
  }
  
  .contact-info .media-icons.media-icons ul {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    gap: 1.8rem;
  }
  
  .contact-info .media-icons ul li {
    font-size: 1rem;
    
  }
  
  .contact-info .media-icons ul li a {
      color: black ; /* Example hover color, change as needed */
}

.contact-info .media-icons ul li a:hover {
    color: var(--primary-color) ; /* Ensure icons use the primary color */
  }
  

.contact-form-container{
    padding-top: 20px;

  }
.contact-form{
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.contact-form input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    padding: 14px 19px;
    font-size: 1.2rem;
    width: 100%;
}
.contact-form textarea{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 14px 19px;
    width: 100%;
    height: 120px;     /* Sets a specific height for the textarea */
    font-size: 1.2rem;   /* Increases the font size for better legibility */
}
.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: var(--primary-color);
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

button:hover {
    background-color: darkorange;
}


@media (min-width:700px){
    .contact-container {
        grid-template-columns: 1fr 1fr;
        max-width: var(--max-width-content);
        height: auto;
        width: 85%;
        padding: 80px;
    }
    .contact-hero.contact-hero   {
        background-color: black ;
    }

}