img{
    width: 100%;
}


.show-case{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
    height: 100vh;
    
    background-size: cover;
    background-position: left; 
    background-repeat: no-repeat;
}
.show-case-item-container{
position: relative;
width: 100%;

    h2,h4{
        position: relative;
        margin: 0 auto;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        z-index: 3;
    }

    h2{
      top: 35%;
    }
    h4{
        top: 40%;
    }
  
    button{
        width: 50%;
        height: 5%;
        position: relative;
        background-color: white;
        top: 50%;
    }
}