
.book-form {
  display: block;
  margin: 0 auto;
    width: 80vw;
    align-items: flex-end;

  }
  
  .book-form h2{
    padding:2rem;
    text-align: center;
   }

  .book-form form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  
  .book-form input {
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.25rem;
  }
  
  .book-form button { 
    padding: 0.6rem 1rem;
    background-color: green;
    color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
 
  @media (min-width: 780px) {

    .book-form{
     width: 20% !important;
     margin: 0 auto;
     padding: 1rem;

    }
    
    .book-form button {
      width: 100%;
      cursor: pointer;
    }
    .book-form button:hover {
      background-color: darkgreen;
    }
    
  }