
.content-destination-page{
    width: 100vw;
    background-color: var(--primary-background-color);
  }
.content-container{
  margin: 4rem auto;
}
.content {
    width: 100vw ;
  }
  
  @media (min-width: 780px) {

    .content-container {
      display: flex;
      justify-content: space-around; /* Space between content and book form */
      align-items: flex-start; /* Align items to the top */
      width: var(--width-content);
      max-width: var(--max-width-content); /* Changed to vw for viewport width */
    
      background-color: var(--primary-background-color);
    }

    .content{
      width: 75%;
    }

  }