.content-section {
    width: 100%;
    background-color: transparent;
}

.content-destination-page {
    width: 92%;
    max-width: var(--max-width-content);
    margin: 0 auto;
    background-color: var(--primary-background-color);
}

.content-container {
    padding: 3rem 0 5rem;
}

.content {
    width: 100%;
}

@media (min-width: 780px) {
    .content-destination-page {
        width: var(--width-content);
    }

    .content-container {
        display: flex;
        gap: 4rem;
        align-items: flex-start;
        padding: 4rem 0 6rem;
    }

    .content {
        flex: 1;
        min-width: 0;
    }
}
