footer{
    background-color: #151515;
   
}
.footer-about-container{
    padding: 140px 120px;
}
.footer-about-container.footer-about-container *{
    color: white;
    opacity: 1;
}
.footer-about-container h2{
    font-size: 3rem;
}
.footer-about-container.footer-about-container p{
    opacity: 0.8;
}

.footer-about-container article{
    width: 25%;
}

.footer-about-container ul{
    padding: 30px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-about-container a{
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}

.bottom-declaration{
    display: block;
    color: white;
    background-color: black;
    padding: 19px 120px;
   text-align: center;
}