.show-case{
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 100dvh;
  width: 100dvw;
  background-color: black;
}
.show-case-item-container{
  position: relative;
}
.show-case .mask{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 8;
  animation: mask 0.6s ease-out forwards;
  right: 0;
}
.show-case-item-container:nth-child(1) .mask{
  animation-delay: 0.15s;
}
.show-case-item-container:nth-child(2) .mask{
  animation-delay: 0.3s;
}
.show-case-item-container:nth-child(3) .mask{
  animation-delay: 0.45s;
}
.show-case-item-container:nth-child(4) .mask{
  animation-delay: 0.60s;
}
@keyframes mask{
  to{
    width: 0%;
  }
}

.show-case h2, .show-case h4{
  position: relative;
  margin: 0 auto;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  color: var(--white-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.show-case h2{
  top: 40%;
  font-size: 2.7rem;
}

.show-case h4{
    top: 40%;
    font-size: 1.5rem;
    font-style: italic;
}

.show-case .book-btn p{
  font-size: 0.91rem;
  opacity: 1;
  color: #151515;
  width: 100%;
  text-align: center;
}

.show-case .book-btn{
    position: relative; 
    top: 42%;

    width: clamp(150px, 50%, 200px); 
    height: clamp(40px, 10vh, 50px);

    display: flex;
    margin: 0 auto;
    justify-content: center; 
    align-items: center; 

    font-size: clamp(0.9em, 5dvw, 1.05em); 
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);

    background-color: var(--primary-background-color);
    border-radius: 0% 0%;

    transition: color 0.3s, background-color 0.3s;
    z-index: 6;
}
.show-case .book-btn:hover{
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}